<div id="<%= dom_id user_account %>">
  <p>
    <strong>Username:</strong>
    <%= user_account.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_account.password %>
  </p>

</div>
